node_modules/
dist/
.cache/
.env
*.log
.DS_Store
.vscode/
.idea/
*.sublime-project
yarn.lock
package-lock.json
*.swp
*.swo
bower_components/
.eslintcache/
build/
log/
tmp/
tests/
/coverage/
.editorconfig
.env.local
.vscode-server/
.history/
*.sql