/* 基本样式 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

/* 标题样式 */
h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 2.5em;
}

/* 搜索区域样式 */
#search {
  text-align: center;
  margin-bottom: 20px;
}

#search label {
  font-size: 1.2em;
  margin-right: 10px;
}

#search input {
  padding: 8px;
  font-size: 1em;
  border: 2px solid #3498db;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

#search input:focus {
  border-color: #2980b9;
}

#search button {
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: background-color 0.3s;
}

#search button:hover {
  background-color: #2980b9;
}

/* 表格样式 */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #3498db;
  color: white;
  font-size: 1.1em;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table td div {
  margin: 5px 0;
}

/* 按钮样式 */
button {
  padding: 6px 10px;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #ff4646;
}
.deleteButton{
  background-color: red;
}
/* 额外样式 */
#fundraiserTable {
  margin-top: 20px;
}

#search button + button {
  margin-left: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  #search input, #search button {
    font-size: 0.9em;
  }

  .table th, .table td {
    padding: 8px;
  }
}
