
<h1 style="text-align: center">Admin Page</h1>
<div id="search">
  <label for="Searched">Search by ID:</label>
  <input type="number" id="Searched" [(ngModel)]="searchId" name="caption" required />
  <button (click)="searchFundraiser()">Search</button>
  <button [routerLink]="['/add']"> + Create New Fundraiser</button>
  <table *ngIf="showin" class="table" >
    <thead>
    <tr>
      <th>ID</th>
      <th>Organizer</th>
      <th>Caption</th>
      <th>Target Funding</th>
      <th>Current Funding</th>
      <th>City</th>
      <th>Category</th>
      <th>Active</th>
      <th>Option</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ selectedFundraiser.FUNDRAISER_ID }}</td>
      <td>{{ selectedFundraiser.ORGANIZER }}</td>
      <td>{{ selectedFundraiser.CAPTION}}</td>
      <td>{{ selectedFundraiser.TARGET_FUNDING }}</td>
      <td>{{ selectedFundraiser.CURRENT_FUNDING}}</td>
      <td>{{ selectedFundraiser.CITY}}</td>
      <td>
        <div *ngIf="selectedFundraiser.CATEGORY_ID===1">Health</div>
        <div *ngIf="selectedFundraiser.CATEGORY_ID===2">Education</div>
        <div *ngIf="selectedFundraiser.CATEGORY_ID===3">Children</div>
        <div *ngIf="selectedFundraiser.CATEGORY_ID===4">Poor</div>
        <div *ngIf="selectedFundraiser.CATEGORY_ID===5">Piece</div>
      </td>
      <td>
        <div *ngIf="selectedFundraiser.ACTIVE">TRUE</div>
        <div *ngIf="!selectedFundraiser.ACTIVE">FALSE</div>
      </td>
      <td>
        <button [routerLink]="['/Change']" [queryParams]="{ id: selectedFundraiser.FUNDRAISER_ID }">Update</button>
        <button (click)="deleteFundraiser(selectedFundraiser.FUNDRAISER_ID)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<table class="table" id="fundraiserTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Organizer</th>
    <th>Caption</th>
    <th>Target Funding</th>
    <th>Current Funding</th>
    <th>City</th>
    <th>Category</th>
    <th>Active</th>
    <th>Option</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let fundraiser of this.fundraisers">
    <td>{{ fundraiser.FUNDRAISER_ID }}</td>
    <td>{{ fundraiser.ORGANIZER }}</td>
    <td>{{ fundraiser.CAPTION}}</td>
    <td>{{ fundraiser.TARGET_FUNDING }}</td>
    <td>{{ fundraiser.CURRENT_FUNDING}}</td>
    <td>{{ fundraiser.CITY}}</td>
    <td>
    <div *ngIf="fundraiser.CATEGORY_ID===1">Health</div>
    <div *ngIf="fundraiser.CATEGORY_ID===2">Education</div>
    <div *ngIf="fundraiser.CATEGORY_ID===3">Children</div>
    <div *ngIf="fundraiser.CATEGORY_ID===4">Poor</div>
    <div *ngIf="fundraiser.CATEGORY_ID===5">Piece</div>
    </td>
    <td>
    <div *ngIf="fundraiser.ACTIVE">TRUE</div>
    <div *ngIf="!fundraiser.ACTIVE">FALSE</div>
    </td>
    <td>
      <button [routerLink]="['/Change']" [queryParams]="{ id: fundraiser.FUNDRAISER_ID }">Update</button>
      <button (click)="deleteFundraiser(fundraiser.FUNDRAISER_ID)">Delete</button>
    </td>
  </tr>
  </tbody>

</table>
